/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 tiny slider
--------------------------------------------------------------*/

@import 'tiny-slider';

/*--------------------------------------------------------------
5.0 MAIN
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 100%;
    line-height: 150%;
    -webkit-overflow-scrolling: touch;
}


/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
7.0 HEADER
--------------------------------------------------------------*/

@import 'sass/header';

/*--------------------------------------------------------------
8.0 NAV
--------------------------------------------------------------*/

@import 'sass/nav';

/*--------------------------------------------------------------
8.0 MAIN
--------------------------------------------------------------*/

@import 'sass/main';