/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 tiny slider
--------------------------------------------------------------*/

@import 'sass/tiny-slider';

/*--------------------------------------------------------------
5.0 MAIN
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-blanco;
    background-color: $color-negro;
    font-size: .96rem;
    line-height: 1.4rem;
    -webkit-overflow-scrolling: touch;
    
    @media (min-width: $lg) {
        
    }
}
