@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*para eliminar los float*/
header, section, footer, aside {
  clear: both;
}

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto;
}

/*input al 100%*/
input, select {
  display: block;
  width: 100%;
}

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  border: none;
  background-color: transparent;
}

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
@font-face {
  font-family: "Lora";
  src: url("../fonts/lora-regular.eot");
  src: url("../fonts/lora-regular.woff") format("woff"), url("../fonts/lora-regular.svg") format("svg"), url("../fonts/lora-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/lora-regularitalic.eot");
  src: url("../fonts/lora-regularitalic.woff") format("woff"), url("../fonts/lora-regularitalic.svg") format("svg"), url("../fonts/lora-regularitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/lora-bold.eot");
  src: url("../fonts/lora-bold.woff") format("woff"), url("../fonts/lora-bold.svg") format("svg"), url("../fonts/lora-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/lora-bolditalic.eot");
  src: url("../fonts/lora-bolditalic.woff") format("woff"), url("../fonts/lora-bolditalic.svg") format("svg"), url("../fonts/lora-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/*GRID OPTIONS*/
/*--------------------------------------------------------------
4.0 tiny slider
--------------------------------------------------------------*/
.tns-outer {
  padding: 0 !important;
}

.tns-outer [hidden] {
  display: none !important;
}

.tns-outer [aria-controls], .tns-outer [data-action] {
  cursor: pointer;
}

.tns-slider {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  transition: all 0s;
}

.tns-slider > .tns-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
  white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.tns-horizontal.tns-no-subpixel:after {
  content: "";
  display: table;
  clear: both;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
  float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
  margin-right: -100%;
}

.tns-no-calc {
  position: relative;
  left: 0;
}

.tns-gallery {
  position: relative;
  left: 0;
  min-height: 1px;
}

.tns-gallery > .tns-item {
  position: absolute;
  left: -100%;
  -webkit-transition: transform 0s, opacity 0s;
  -moz-transition: transform 0s, opacity 0s;
  transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
  position: relative;
  left: auto !important;
}

.tns-gallery > .tns-moving {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.tns-autowidth {
  display: inline-block;
}

.tns-lazy-img {
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0.6;
}

.tns-lazy-img.tns-complete {
  opacity: 1;
}

.tns-ah {
  -webkit-transition: height 0s;
  -moz-transition: height 0s;
  transition: height 0s;
}

.tns-ovh {
  overflow: hidden;
}

.tns-visually-hidden {
  position: absolute;
  left: -10000em;
}

.tns-transparent {
  opacity: 0;
  visibility: hidden;
}

.tns-fadeIn {
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 0;
}

.tns-normal, .tns-fadeOut {
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

.tns-vpfix {
  white-space: nowrap;
}

.tns-vpfix > div, .tns-vpfix > li {
  display: inline-block;
}

.tns-t-subp2 {
  margin: 0 auto;
  width: 310px;
  position: relative;
  height: 10px;
  overflow: hidden;
}

.tns-t-ct {
  width: 2333.3333333%;
  width: -webkit-calc(100% * 70 / 3);
  width: -moz-calc(100% * 70 / 3);
  width: calc(100% * 70 / 3);
  position: absolute;
  right: 0;
}

.tns-t-ct:after {
  content: "";
  display: table;
  clear: both;
}

.tns-t-ct > div {
  width: 1.4285714%;
  width: -webkit-calc(100% / 70);
  width: -moz-calc(100% / 70);
  width: calc(100% / 70);
  height: 10px;
  float: left;
}

/*# sourceMappingURL=sourcemaps/tiny-slider.css.map */
/*--------------------------------------------------------------
5.0 MAIN
--------------------------------------------------------------*/
html, body {
  font-family: "Lora", sans-serif;
  color: #666;
  background-color: #fff;
  font-size: 100%;
  line-height: 150%;
  -webkit-overflow-scrolling: touch;
}

/*--------------------------------------------------------------
6.0 FOOTER
--------------------------------------------------------------*/
.site-footer {
  position: relative;
  z-index: 11;
  padding: 70px 10px 10px;
  border-bottom: 40px solid #666;
}
@media (min-width: 992px) {
  .site-footer {
    padding: 100px 10px 100px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
}

.widget-footer {
  width: 100%;
  padding: 10px;
}
@media (min-width: 992px) {
  .widget-footer {
    width: calc(100% / 3);
  }
}

.logo-footer {
  width: 80%;
  max-width: 234px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.contact-items {
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  padding: 0 15px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #606060;
}
@media (min-width: 992px) {
  .contact-items {
    font-size: 0.7rem;
    margin: 0;
  }
}
.contact-items li {
  margin: 30px 0 60px;
  position: relative;
}
.contact-items li:last-child {
  margin-bottom: 0;
}

.icons-footer {
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.6);
  left: 0;
  top: -25px;
}
.icons-footer .icon {
  position: absolute;
  display: block;
  top: -20px;
  left: 50%;
  width: 70px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.icons-footer .icon-location {
  background-image: url("../images/location.svg");
  background-size: 30px 30px;
}
.icons-footer .icon-email {
  background-image: url("../images/email.svg");
  background-size: 30px 30px;
}
.icons-footer .icon-phone {
  background-image: url("../images/ios-telephone.svg");
  background-size: 30px 30px;
}

.map-wrapper {
  height: 300px;
  width: 100%;
}
@media (min-width: 768px) {
  .map-wrapper {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .map-wrapper {
    height: 250px;
  }
}
@media (min-width: 1200px) {
  .map-wrapper {
    height: 220px;
  }
}
@media (min-width: 1600px) {
  .map-wrapper {
    height: 250px;
  }
}

/*--------------------------------------------------------------
7.0 HEADER
--------------------------------------------------------------*/
.site-header {
  position: relative;
  z-index: 111;
  background-color: #80a680;
  color: #fff;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .site-header {
    height: 70vh;
  }
}
@media (min-width: 1600px) {
  .site-header {
    height: 80vh;
  }
}
.site-header .front-header {
  position: relative;
  z-index: 11;
  padding: 60px 10px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 565px) {
  .site-header .front-header {
    padding: 60px 10px;
  }
}
@media (min-width: 768px) {
  .site-header .front-header {
    padding: 80px 10px;
  }
}
@media (min-width: 1200px) {
  .site-header .front-header {
    padding: 10px 10px;
  }
}
.site-header .main-tittle {
  color: #fff;
  text-align: center;
  padding: 1rem 0 2rem;
  font-size: 2.7rem;
  line-height: 3rem;
}
@media (min-width: 992px) {
  .site-header .main-tittle {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}
.site-header .main-tittle small {
  font-size: 60%;
  letter-spacing: 0.7rem;
}
.site-header .line-text {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  font-style: italic;
}
.site-header .wrapper-slider-background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.site-header .wrapper-slider-background .imagen-slider {
  width: 110%;
  height: auto;
}
@media (min-width: 565px) {
  .site-header .wrapper-slider-background .imagen-slider {
    width: 100%;
  }
}
.site-header .wrapper-slider-background .tns-nav {
  background-color: transparent;
  position: absolute;
  z-index: 111;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.site-header .wrapper-slider-background .tns-nav button {
  height: 14px;
  width: 10px;
  background: #BEBEBE;
  border-radius: 50%;
}
.site-header .wrapper-slider-background .tns-nav .tns-nav-active {
  background-color: #fff;
}

/*--------------------------------------------------------------
8.0 NAV
--------------------------------------------------------------*/
.main-nav {
  position: absolute;
  z-index: 111;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
@media (min-width: 992px) {
  .main-nav {
    height: 117px;
    padding: 0 8%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.41+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#69000000", endColorstr="#00000000",GradientType=0 );
    /* IE6-9 */
  }
}
@media (min-width: 1600px) {
  .main-nav {
    padding: 0 11%;
  }
}
.main-nav .brand-name {
  width: 100px;
  max-width: 300px;
}
@media (min-width: 992px) {
  .main-nav .brand-name {
    width: 10%;
  }
}
.main-nav .brand-name img {
  width: 100%;
  height: auto;
}
.main-nav .main-menu {
  opacity: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 0;
  overflow: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
@media (min-width: 992px) {
  .main-nav .main-menu {
    opacity: 1;
    padding: 0;
    overflow: visible;
    height: auto;
    font-size: 0.9rem;
    background-color: transparent;
    width: auto;
    position: static;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1;
    margin-right: 6%;
  }
}
@media (min-width: 1600px) {
  .main-nav .main-menu {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .main-nav .main-menu li {
    margin-right: 1rem;
  }
}
.main-nav .main-menu a {
  display: block;
  cursor: pointer;
  padding: 0.7rem 2rem;
  text-align: center;
}
@media (min-width: 992px) {
  .main-nav .main-menu a {
    text-align: initial;
    padding: 0;
  }
}
.main-nav .main-menu a:hover {
  opacity: 0.7;
}
.main-nav .social-menu {
  display: none;
}
@media (min-width: 992px) {
  .main-nav .social-menu {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
.main-nav .social-menu li {
  margin: 0 0.3rem;
}
.main-nav .menu-social, .main-nav .menu-instagram, .main-nav .menu-facebook {
  cursor: pointer;
  display: block;
  padding: 0.5rem;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
}
.main-nav .menu-social:hover, .main-nav .menu-instagram:hover, .main-nav .menu-facebook:hover {
  opacity: 0.7;
}
.main-nav .menu-facebook {
  background-image: url("../images/icon-face.svg");
  background-size: 22px 22px;
}
.main-nav .menu-instagram {
  background-image: url("../images/social-instagram.svg");
  background-size: 22px 22px;
}
.main-nav .toggle {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 1;
  top: -4px;
}
@media (min-width: 992px) {
  .main-nav .toggle {
    display: none;
  }
}
.main-nav .toggle .tog, .main-nav .toggle .tog3, .main-nav .toggle .tog2, .main-nav .toggle .tog1 {
  opacity: 1;
  position: absolute;
  width: 90%;
  height: 2px;
  display: block;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.main-nav .toggle .tog1 {
  top: 15%;
}
.main-nav .toggle .tog2 {
  top: 45%;
}
.main-nav .toggle .tog3 {
  top: 75%;
}

/*--------------------------------------------------------------
8.0 MAIN
--------------------------------------------------------------*/
.site-inner {
  position: relative;
  z-index: 1;
}

.main-section {
  padding: 100px 10px 60px;
}
@media (min-width: 992px) {
  .main-section {
    padding: 120px 0;
  }
}
.main-section .wrapper-contenido-inicio {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .main-section .wrapper-contenido-inicio {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .main-section .contenido {
    width: 50%;
    padding-right: 100px;
  }
}
.main-section .contenido h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
  line-height: 2.5rem;
}
@media (min-width: 992px) {
  .main-section .contenido h2 {
    font-size: 2.7rem;
    line-height: 3rem;
  }
}
.main-section .contenido h2:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 10px;
  width: 50px;
  height: 3px;
  background-color: #eaaaad;
}
@media (min-width: 992px) {
  .main-section .contenido h2:before {
    top: -20px;
    left: 20px;
  }
}
.main-section .contenido h4 {
  color: #808080;
  margin-top: 20px;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.main-section .contenido p {
  overflow: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.main-section .contenido .wrapper-button {
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: right;
}
.main-section .contenido .wrapper-button .more-minus-btn {
  position: relative;
  padding: 10px 30px 10px 10px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.main-section .contenido .wrapper-button .more-minus-btn:hover {
  opacity: 0.8;
}
.main-section .contenido .wrapper-button .more-minus-btn img {
  display: block;
  width: 10px;
  height: auto;
  right: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
@media (min-width: 992px) {
  .main-section .imagen-inicio {
    width: 50%;
  }
}
.main-section .imagen-inicio img {
  max-width: 100%;
}

.details-section {
  background-color: #80a680;
  color: #fff;
}
.details-section .detalles {
  padding: 20px 10px;
}
@media (min-width: 992px) {
  .details-section .detalles {
    padding: 100px 10px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
}
.details-section .detalles li {
  margin: 40px 0;
  padding: 20px 10px;
}
@media (min-width: 992px) {
  .details-section .detalles li {
    padding: 20px 40px;
    margin: 0;
    width: calc(100% / 3);
  }
}
.details-section .inner-detalle {
  position: relative;
  padding: 80px 30px 40px;
  border: 1px solid #fff;
}
.details-section .inner-detalle h3 {
  position: absolute;
  z-index: 11;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60%;
  text-align: center;
  background: #80a680;
  font-size: 1.5rem;
  line-height: 2rem;
}
.details-section .inner-detalle h3:after {
  content: "";
  display: block;
  background-color: #fff;
  height: 2px;
  width: 60px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.details-section .inner-detalle .text-detalles {
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.details-section .inner-detalle .detalles-more-btn {
  cursor: pointer;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #80a680;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
.details-section .inner-detalle .detalles-more-btn:hover {
  border: none;
}

.photos-section {
  min-height: 100px;
  padding: 100px 10px;
  background-color: #e4e4e4;
}
@media (min-width: 992px) {
  .photos-section {
    padding: 100px 10px;
  }
}
@media (min-width: 768px) {
  .photos-section .galeria {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.photos-section .galeria li {
  width: 100%;
}
@media (min-width: 768px) {
  .photos-section .galeria li {
    width: 49%;
  }
}
@media (min-width: 992px) {
  .photos-section .galeria li {
    width: 33%;
  }
}
.photos-section .contenedor-foto {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 100%;
}
@media (min-width: 768px) {
  .photos-section .contenedor-foto {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  .photos-section .contenedor-foto {
    margin: 0.5rem auto;
  }
}
@media (min-width: 1600px) {
  .photos-section .contenedor-foto {
    height: 400px;
  }
}
.photos-section .contenedor-foto img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 120%;
  height: auto;
}

.services-section {
  background-color: #eaaaad;
  padding: 100px 10px;
}
@media (min-width: 992px) {
  .services-section {
    padding: 100px 10px;
  }
}
.services-section .title-servicios {
  color: #fff;
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .services-section .title-servicios {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
  }
}
.services-section .title-servicios h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
}
@media (min-width: 992px) {
  .services-section .title-servicios h2 {
    top: 20px;
    margin-right: 2rem;
    font-size: 2.7rem;
    line-height: 3rem;
  }
}
.services-section .title-servicios h2:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 10px;
  width: 50px;
  height: 3px;
  background-color: #666;
}
@media (min-width: 992px) {
  .services-section .title-servicios h2:before {
    top: -20px;
    left: 20px;
  }
}
.services-section .title-servicios p {
  font-size: 1.25rem;
  font-style: italic;
}
.services-section .lista-servicios {
  padding: 20px 0 0;
}
@media (min-width: 992px) {
  .services-section .lista-servicios {
    padding: 60px 10px 50px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
}
.services-section .lista-servicios > li {
  margin: 20px 0;
}
@media (min-width: 992px) {
  .services-section .lista-servicios > li {
    margin: 0;
    width: calc(100% / 3);
  }
}
.services-section .servicio {
  background-color: #fff;
  border-bottom: 10px solid #666;
  padding-bottom: 50px;
  position: relative;
}
@media (min-width: 992px) {
  .services-section .servicio {
    padding-bottom: 30px;
    margin: 0.5rem;
  }
}
.services-section .servicio .header-servicio {
  position: relative;
  z-index: 1;
  background-color: #808080;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 200px;
}
@media (min-width: 768px) {
  .services-section .servicio .header-servicio {
    height: 300px;
  }
}
@media (min-width: 992px) {
  .services-section .servicio .header-servicio {
    height: 200px;
  }
}
@media (min-width: 1600px) {
  .services-section .servicio .header-servicio {
    height: 300px;
  }
}
.services-section .servicio .header-servicio:after {
  content: "";
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.66+100,0.5+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#80000000",GradientType=0 );
  /* IE6-9 */
}
.services-section .servicio .header-servicio h1 {
  position: relative;
  z-index: 111;
  text-align: center;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #fff;
  font-style: italic;
  font-weight: 700;
  text-transform: lowercase;
}
@media (min-width: 1600px) {
  .services-section .servicio .header-servicio h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.services-section .servicio .header-servicio1 {
  background-image: url("../images/servicio1.jpg");
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .services-section .servicio .header-servicio1 {
    background-image: url("../images/servicio1@2x.jpg");
    background-size: cover;
  }
}
.services-section .servicio .header-servicio2 {
  background-image: url("../images/servicio2.jpg");
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .services-section .servicio .header-servicio2 {
    background-image: url("../images/servicio2@2x.jpg");
    background-size: cover;
  }
}
.services-section .servicio .header-servicio3 {
  background-image: url("../images/servicio3.jpg");
  background-size: cover;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
  .services-section .servicio .header-servicio3 {
    background-image: url("../images/servicio3@2x.jpg");
    background-size: cover;
  }
}
.services-section .servicio .lista-servicio {
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #8c8c8c;
  font-style: italic;
  font-weight: 700;
  padding: 0 10px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
@media (min-width: 1600px) {
  .services-section .servicio .lista-servicio {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.services-section .servicio .lista-servicio li {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}
.services-section .servicio .lista-servicio li:first-child {
  margin-top: 50px;
}
.services-section .servicio .lista-servicio li:last-child {
  margin-bottom: 10px;
}
.services-section .servicio .service-btn {
  outline: none;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
  width: 100%;
  height: 20px;
  background-image: url("../images/arrow-black.svg");
  background-size: 20px 20px;
  background-position: center;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5px;
}
.services-section .servicio .service-btn:hover {
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
