@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {
    font-family: 'Chesterpress Clean';
    src: url('../fonts/chesterpress-clean.eot');
    src: url('../fonts/chesterpress-clean.woff') format('woff'),
        url('../fonts/chesterpress-clean.svg') format('svg'),
        url('../fonts/chesterpress-clean.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
